<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple DEMO{% endblock %}</title>
    <style type="text/css">
      .errorlist {
        margin: 0;
        padding: 0;
      }
      .errorlist li {
        list-style: none;
        font-size: 90%;
        color: red;
      }
      .errorlist ~ input,
      .errorlist ~ select {
        border-color: red;
      }
    </style>
  </head>
  <body>
    <h1>Simple DEMO</h1>
    <a href="{% url 'index' %}">home</a>
     <a href="{% url 'product_add' %}">product</a>
     <a href="{% url 'cart_home' %}">{{request.session.cart_items}} cart</a>
     <a href="{%  url 'checkout_home' %}">checkout</a>
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
